* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #111;
  color: #fff;
}

/* Navbar */
.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: red;
}

.navbar nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* Hero Section */
.hero {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg');
  height: 400px;
  position: relative;
  
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 5%;
}

.hero-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 15px;
}

.hero-content button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

/* Movie Rows */
.movie-row {
  padding: 30px;
}

.movie-row h2 {
  margin-bottom: 10px;
}

.row-images {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.row-images img {
  height: 150px;
  width:100px;
  border-radius: 5px;
  transition: transform 0.3s;
}

.row-images img:hover {
  transform: scale(1.1);
}

/* Footer */
.footer {
  background-color: #000;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
